<h1>User Data for <%= course.title %></h1>

<table class="tabel">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Max Students</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= course.title %></td>
      <td><%= course.description %></td>
      <td><%= course.maxStudents %></td>
      <td><%= course.cost%></td>
    </tr>
  </tbody>
</table>
<!-- Additional actions for the subscriber page-->
<div>
  <a href="/courses"> View all courses </a>
</div>
<div>
  <a href="<%= `/courses/${course._id}/edit`%>">
    Edit course details
  </a>
</div>
<div>
  <a
    href="<%= `/course/${course._id}/delete?_method=DELETE`%>"
    onclick="return confirm('Are you sure you want to delete this record?')"
  >
    Delete
  </a>
</div>

<!-- This view is just a copy paste of the index.ejs view and does not...
...reflect the actual view intended displayed on page 241 -->
