<h2>Users Table</h2>
<table class="tabel">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <!-- Added this column to enable the U in CRUD-->
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach( user => { %>
    <tr>
      <td>
        <a href="<%= `/users/${user._id}`%>">
          <%= user.fullName %>
        </a>
      </td>
      <td><%= user.email %></td>
      <td><%= user.zipCode %></td>
      <!-- Added this column to enable the U in CRUD-->
      <td>
        <a href="<%= `/users/${user._id}/edit` %>">
          Edit
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
